<ion-header>
  <ion-toolbar>
    <ion-title>ADD TO DO NOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input placeholder="Texto" type="text" [(ngModel)] = "reminder.texto"
    name="nota"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block" fill="solid" (click) = "createReminder()">CREATE</ion-button> 
  <ion-button color="primary" expand="block" fill="outline" (click) = "dismiss()">Cancel</ion-button> 
  
</ion-content>
