<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-datetime disabled class="titulo" displayFormat="MMM DD, YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click) = "signOut()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
    <ion-segment class="segmento" [(ngModel)]="status" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="todo">
        <ion-label>To Do</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>

  </div>
  
<div [ngSwitch]="status">

  <ion-list *ngSwitchCase="'todo'">
    
    <ion-item-sliding *ngFor="let item of reminders">
      <ion-item-sliding *ngIf="item.status === 'todo'">

      <ion-item>
        <ion-label>
          <p>{{item.texto}}</p>
        </ion-label>
        <ion-note slot="end" (click)="doneReminder(item.id)">
          <ion-checkbox></ion-checkbox>
        </ion-note>
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option (click)="showEdit(item.id)">
          <ion-item-option >Edit</ion-item-option>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="deleteReminder(item.id)" color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-sliding>

  </ion-list>

  
  
  <ion-list *ngSwitchCase="'done'">
    
    <ion-item-sliding *ngFor="let item of reminders">
      <ion-item-sliding *ngIf="item.status === 'done'">

      <ion-item>
        <ion-label>
          <p>{{item.texto}}</p>
        </ion-label>
        <ion-note slot="end" (click)="doneReminder(item.id)">
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-note>
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option (click)="showEdit(item.id)">
          <ion-item-option >Edit</ion-item-option>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option (click)="deleteReminder(item.id)" color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-sliding>
  

  </ion-list>
</div>

</ion-content>

    <ion-buttons>
      <ion-button icon-only class="circular" slot="end" (click)="showCreate()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

