#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}


.iconSize {
  font-size: 30px;
  padding: 0px 15px
  
} 

.titulo {
  font-size: 20px;
  font-weight: bold;
  opacity: 4;
} 

.segmento {
  padding: 25px 0px 25px 0px;
}

.circular {
  font-size: 30px;
  display:block;
  height: 65px;
  width: 65px;
  border-radius: 300%;
  border: 1px solid #1f7ac4;
  color: #ffffff;
  background-color: #1f7ac4;

  position: fixed;
  left: 300px;
  bottom: 9px;
  right: 0;

}